<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>imprimir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    

    <!--

      <ion-item>
      <ion-label position="floating">Texto para impressão</ion-label>
      <ion-input [(ngModel)]="texto" name="texto"></ion-input>
    </ion-item>

    <ion-button (click)="imprimirQRCODE()" expand="full">Testar impressão de texto 2</ion-button>
    <ion-button (click)="imprimirTexto()" expand="full">Testar impressão de texto</ion-button>    
    <ion-button (click)="buscarImpressora()" expand="full">Procurar impressora</ion-button>
    -->
  </ion-card>

</ion-content>